html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  color: #fff;
  background-color: rgb(48, 48, 48);

  header {
    background-color: rgb(156, 39, 176);
    padding: 1em;

    h1 {
      margin: 0;
    }
  }

  main {
    flex: 1 1 auto;

    button,
    input {
      padding: 5px;
    }
  }
}
