<div fxLayout="row" fxLayoutAlign="center center">
  <mat-progress-spinner mat-list-icon mode="determinate" [value]="percent" diameter="32" color="accent"></mat-progress-spinner>
  <button (click)="play()" *ngIf="!playing" mat-icon-button>
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button (click)="pause()" *ngIf="playing" mat-icon-button><mat-icon>pause</mat-icon></button>
  <span class="duration" *ngIf="duration">{{ duration }}</span>
  <audio #audio preload="metadata">
    <source [src]="path(sound.fileName)" type="audio/ogg" />
    Your browser does not support the audio element.
  </audio>
</div>
