<mat-toolbar color="primary" class="mat-elevation-z8">
  <span fxFlex="1 1 auto">Timer for mob programming</span>

  <button *ngIf="!(mob$ | async).name" (click)="showConnectDialog()" title="Connect" mat-icon-button>
    <mat-icon>cloud_off</mat-icon>
  </button>
  <button *ngIf="(mob$ | async).name" (click)="showDisconnectDialog()" title="Disconnect" mat-icon-button>
    <mat-icon>cloud_done</mat-icon>
  </button>
  <button *ngIf="!(mob$ | async).name" (click)="showCreateDialog()" title="Create" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="main" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <h1>{{ (mob$ | async).name }}</h1>
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxFlexFill class="scrollbar">
    <app-timer></app-timer>
    <app-mobers></app-mobers>
  </div>
</div>
