@import '~angular-material-css-vars/main';

// init theme (https://github.com/johannesjo/angular-material-css-vars)
@include init-material-css-vars() {
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body,
app-root,
.app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

mat-toolbar {
  min-height: 56px;
}

div.scrollbar,
mat-list.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555555;
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
  background-color: #555555;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
}
